<h1>Listings</h1><br />
<<<<<<< HEAD
<a href='#/new' class="btn btn-primary">New Listing</a><br /><br />
<div class="indexlisting">
<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Headline</th>
		<th>Description</th>
		<th>Features</th>
		<th></th>
	</tr> 
=======
<%= link_to "New Listing", "", class: "btn btn-primary new" %><br /><br />
<div class="indexlisting">
<table class="table table-striped">
	<tr>
		<th>Name:</th>
		<th>Headline:</th>
		<th>Description:</th>
		<th></th>
	</tr>
>>>>>>> 341ccd3929efec9760688a2c53f7195fa17290ee
<%% for listing in @listings.models: %>
  <tr>
	<td><%%= listing.get('name') %></td>
        <td><%%= listing.get('headline') %></td>
        <td><%%= listing.get('description') %></td>
<<<<<<< HEAD
	<%% featurename = [] %>
	<%% i=0 %>
	<td><%% for feature in listing.get('features'): %>
	      <%% featurename[i++] = feature.name %>
	    <%% end %>
	<%%= featurename %>
        </td>
	<td><input type="hidden" class="list_id" value= "<%%= listing.get('id') %>">
	     <a href ="#/<%%= listing.get('id') %>" class="btn" >Show </a>
	     <a href ="#/<%%= listing.get('id') %>/edit" class= "btn btn-primary">Edit</a>
             <button class= "btn btn-danger delete" id="<%%= listing.get('id') %>">Delete</button> 
	     <button class= "btn btn-success contact" id="<%%= listing.get('id') %>">Add Contact</button> 
	     <a href="" id = "<%%= listing.get('id')%>" class="contactlist btn">Show Contacts</a>	    
        </td>
  </tr>
	<tr>
		<td colspan=5><table class="<%%= listing.get('id')%> table table-striped" style="display:none;">
			<tr><th>Name:</th><th>Email:</th><th>Phone:</th>
 			<%% for contact in listing.get('contacts'): %>
 				<tr><td><%%= contact.name %></td><td><%%= contact.email %></td><td><%%= contact.phone %></td></tr>
			<%% end %>				
		</table></td>
	</tr>
=======
	<td><input type="hidden" class="list_id" id= "<%%- @safe listing.id %>" value= "">
	     <button class="btn btn-success show" style= "width:54px" id="<%%= listing.get('id') %>">Show </button>
	     <button class= "btn btn-primary edit" style= "margin-top:-47px;margin-left:58px;" id="<%%= listing.get('id') %>" >Edit</button>
             <button class= "btn btn-danger delete" style= "margin-top:-46px;margin-left:2px;" confirm= "Are you sure to Delete?" id="<%%= listing.get('id') %>">Delete</button> 	    
        </td>
  </tr>
>>>>>>> 341ccd3929efec9760688a2c53f7195fa17290ee
<%% end %>
<table>
</div>
