<h1>Listings</h1>
<div class="span6">
<p><b>Name: </b>
<%%= console.log(@listing)%>
<%%= @listing.get('name') %></p>
<p><b>Headline: </b>
<%%= @listing.get('headline') %></p>
<p>	<b>Descripton: </b>
<%%= @listing.get('description') %></p>
</div>
