<h1>Contacts</h1>
<<<<<<< HEAD
<div class="span6">
 	<table class="table table-striped">
		<tr><th>Name:</th><th>Email: </th><th>Phone: </th><th></th></tr>
<%% for @contact in @contacts.models: %>
	<tr>
	<td><%%= @contact.get('name') %></td>
	<td><%%= @contact.get('email') %></td>
	<td><%%= @contact.get('phone') %></td>
</tr>
<%% end %>
</table>
=======
<div class="container">
<p><b>Name: </b>
<%%= @contact.get('name') %></p>
<p><b>Email: </b>
<%%= @contact.get('email') %></p>
<p><b>Phone: </b>
<%%= @contact.get('phone') %></p>
<p>
        <input type="hidden" name="contact_id" id="contact_id" value= "<%%= @contact.get('id') %>">
	    <%= link_to "Back", "", class: "btn btn-info back" %>
 	    <button class= "btn btn-primary edit" id="<%%= @contact.get('id') %>" >Edit</button>
	    <button class= "btn btn-danger delete" confirm= "Are you sure to Delete?" id="<%%= @contact.get('id') %>">Delete</button>
</p>
>>>>>>> 7f520bbbda88cadbd7aa978e73b98b678bde9b49
</div>
