/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import 'bootstrap';



.Facebook
{
   margin-left:180px;
}
.signin{
    background-color: whitesmoke;
    box-shadow: -3px 10px 45px #abc;
    -moz-box-shadow: -3px 10px 45px #abc;
    -webkit-box-shadow: -3px 10px 45px #abc;
    border: 1px double #bbb;
    padding: 20px;
    margin-top: 30px;
    margin-right: 150px;
   border-radius: 20px;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
}
.sign_div
{
   box-shadow: -3px 10px 45px #abc;
    -moz-box-shadow: -3px 10px 45px #abc;
    -webkit-box-shadow: -3px 10px 45px #abc;
    border: 1px double #bbb;
    padding-left: 120px;
    padding-right: 0px;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: 60px;
    margin-left: 100px;
   border-radius: 20px;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
}
